.Login{
    width: 40%;
    height: 40%;
    position: relative;
    margin: 0 auto;
    top: 25%;
    align-items: center;
}
.login-form-button{
    display: block;
    margin-left: auto;
    height: 40px;
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
}
.Login .title{
    display: block;
    width: 100%;
    font-size: 36px;
    margin-bottom: 20px;
    font-size: 64px;
}
.Login .ant-form-item{
    width: 100%;
    max-width: 400px;
}